.footer {
    background: var(--primary-bg);
    color: var(--primary);
}

.container__footer {
    padding: 2.5rem 0 1.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    /* font-size: 14px; */
}

.container__footer ul {
    display: flex;
    gap: 0.7rem;
    font-size: 13px;
    align-items: center;
}

.bulletpoints {
    font-size: 14px;
    font-weight: 900;
    user-select: none;
}

.container__footer p {
    font-size: 13px;
    text-align: center;
}

.github-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}