.form__container {
    width: 30%;
    min-height: 360px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    background: var(--overlay-bg-secondary);
    backdrop-filter: blur(3px);
}

.form__container h2 {
    text-align: center;
    padding: 0 0 1rem;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    color: var(--primary);
}

.__form {
    /* border: 1px solid blue; */
    height: 100%;
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.__form label, 
.form__button {
    width: 100%!important;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    font-family: 'Outfit', sans-serif;
    position: relative;
}

.form__button {
    box-shadow: var(--box-shadow);
}

.__form label input{
    width: 100%;
    padding: 20px 35px;
    height: 20px;
}

.input__icon,
.eye__icon {
    position: absolute;
    left: 10px;
    bottom: 30%;
    color: var(--primary-bg);
    z-index: 99;
}

.eye__icon {
    left: 282px!important;
    bottom: 30%;
    width: max-content;
    cursor: pointer;
}

::placeholder {
    font-family: 'Outfit', sans-serif;
}

.form__container p {
    padding: 1rem 0;
    color: var(--primary);
}

.sign__up {
    color: var(--secondary);
    text-shadow: var(--text-shadow);
}

.sign__up:hover {
    color: var(--secondary-variant);
}

.error__message {
    width: 75%;
    margin: 8px auto 15px;
    background: var(--rating);
    padding: 5px;
    color: var(--primary);
    text-align: center;
    font-size: 14px;
}

/******* Media Query (1024px) *******/
@media screen and (max-width: 1024px) {
    .form__container {
        width: 50%;
        margin: 0 auto
    }
}

/******* Media Query (600px) *******/
@media screen and (max-width: 600px) {
    .form__container {
        width: var(--container-sm);
        margin: 0 auto
    }
}