.hero {
    background: rgba(0, 153, 255, 0.116);
    margin-top: 0;
    position: relative;
    min-height: 460px;
}

.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullet-active-prev {
    background: #fff!important;
}

.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
    background: var(--secondary)!important;
}

.container.container__hero {
    width: 66%!important;
    min-height: 460px;
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: space-between;
    background: var(--overlay-bg);
    backdrop-filter: var(--backdrop-filter);
    margin: 2rem auto;
}

.anime__hero__info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    flex-basis: 70%;
    color: var(--primary);
    min-height: 460px;
    overflow: hidden;
}

.random__tag {
    background: var(--rating);
    width: max-content;
    padding: 5px 7px;
    font-size: 12px;
}

.anime__hero__title h3 {
    font-size: 1.7rem;
    margin-bottom: 5px;
}

.anime__status__episodes {
    font-size: 12px;
    display: flex;
    gap: 5px;
}

.anime__hero__info p {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hero__butons {
    display: flex;
    gap: 1.2rem;
}

.anime__hero__cover {
    height: 460px;
    flex-basis: 30%;
}

.anime__hero__cover img{
    padding: 2rem;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--primary);
}
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--secondary);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/*************** MEDIAY QUERIES (1024) *************/
@media screen and (max-width: 1024px ){
    .container.container__hero {
        width: var(--container-md)!important;
    }
}

/*************** MEDIAY QUERIES (800px) *************/
@media screen and (max-width: 800px ){
    .container.container__hero,
    .anime__hero__info {
        min-height: 499px;
    }

    .anime__hero__info {
        flex-basis: 60%;
    }

    .anime__hero__cover {
        flex-basis: 40%;
    }

    .anime__hero__cover img{
        padding-left: 1rem;
    }
}

/*************** MEDIAY QUERIES (600) *************/
@media screen and (max-width: 600px ){
    .container.container__hero {
        width: 92%!important;
    }

    .container.container__hero,
    .anime__hero__info {
        min-height: 475px;
    }
    
    .anime__hero__cover {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        box-shadow: var(--box-shadow);
    }

    .anime__hero__info { 
        height: 100%;
        flex-basis: 100%;
        background: var(--overlay-bg);
        z-index: 1;
        justify-content: center;
        padding: 1.2rem;
    }

    .anime__hero__cover img {
        padding: 0;
    }
}
