.ongoing__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 1.2rem;
}

.container__ongoing h3 {
    margin-bottom: 1.2rem;
}

.ongoing__item {
    min-height: 320px;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--primary-bg);
    box-shadow: var(--box-shadow);
    transition: var(--transition)
}

.ongoing__item:hover {
    border-color: var(--secondary);
    box-shadow: 0px 0px 10px 0px var(--secondary);
}

.ongoing__image {
    height: 100%;
    flex-basis: 45%;
    overflow: hidden;
    position: relative;
}

.ongoing__title__studio {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--overlay-bg);
    padding: 10px;
    color: var(--primary);
}

.ongoing__title__studio span {
    font-size: 13px;
}

.ongoing__rating {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
    padding: 7px;
    background: var(--rating);
    box-shadow: var(--box-shadow);
    color: var(--primary);
}

.ongoing__article {
    padding: 15px;
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ongoing__current__ep {
    font-size: 14px;
}

.ongoing__countdown {
    font-size: 1.5rem;
}

.ongoing__description {
    flex-grow: 1;
    font-size: 13px;
}

.ongoing__description p {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ongoing__description a {
    font-size: 13px;
    text-decoration: underline;
}

.ongoing__genres {
    display: flex;
    gap: 5px;
    font-size: 13px;
    flex-wrap: wrap;
}

/********** Media Query (1224px) **********/
@media screen and (max-width: 1224px) {
    .ongoing__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

/********** Media Query (800px) **********/
@media screen and (max-width: 800px) {
    .ongoing__items {
        grid-template-columns: 1fr;
    }
}