.pageload {
    height: 100vh;
    background: var(--primary-bg);
    width: 100%;
    /* margin-top: -80px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

/********** TEXT **********/
.loading {
    font-size: 11px;
    animation: loading 2s ease-in-out infinite;
    user-select: none;
}

@keyframes loading {
    50% {
        color: var(--primary-bg);
    }
}

/********** CIRCLES **********/
.effect {
    width: 60px;
    height: 60px;
    border: 0px solid var(--primary-bg);
    border-radius: 50%;
    position: absolute;
}

.effect:nth-child(1) {
    border-bottom-width: 2px;
    border-color: hsl(176.89, 99.07%, 58.04%);
    animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

.effect:nth-child(2) {
    border-right-width: 2px;
    border-color: rgb(42, 254, 243, 58.04%);
    animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

.effect:nth-child(3) {
    border-top-width: 2px;
    border-color: hsl(176.89, 99.07%, 58.04%);
    animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}