.search__page .section__header h2 {
    flex-basis: 100%;
}

.section__header .query{
    font-size: 24px;
}

.container__search__page {
    min-height: 620px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.2rem;
    padding-bottom: 1.2rem;
}

.search__page__item {
    box-shadow: var(--box-shadow);
    height: 320px;
    border: 1px solid var(--primary-bg);
    transition: var(--transition);
}

.search__page__item:hover {
    border-color: var(--secondary);
    box-shadow: 0px 0px 10px 1px var(--secondary);
}

.search__image {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.search__image img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.search__image:hover img {
    transform: scale(1.1);
}

.search__title {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 7px;
    background: var(--overlay-bg);
    text-align: center;
}


/********* Media Query (1024px) *********/
@media screen and (max-width: 1024px) {
    .container__search__page {
        grid-template-columns: repeat(4, 1fr);
    } 
}

/********* Media Query (800px) *********/
@media screen and (max-width: 800px) {
    .container__search__page {
        grid-template-columns: repeat(3, 1fr);
    } 
}

/********* Media Query (600px) *********/
@media screen and (max-width: 600px) {
    .container__search__page {
        grid-template-columns: repeat(2, 1fr);
    } 
}