.episode {
    margin-top: 0;

}

.container__episode {
    padding-top: 2.5rem;
    /* min-height: 650px; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    place-content: center;
}

.episode__video {
    padding-top: 2.2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.buttons,
.episode__info,
.watch__container {
    width: 80%;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.buttons .btn {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.info-icon {
    font-size: 1.2rem;
}

.opacity {
    opacity: 0;
    user-select: none;
    cursor: default!important;
    pointer-events: none;
}

option span {
    padding: 2rem;
}

.episode__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2.5rem;
}

.episode__title {
    margin-bottom: 12px;
}

.episode__title h3 {
    margin-bottom: 5px;
}

.episode__title span {
    font-size: 12px;
}

.watch__container {
    box-shadow: var(--box-shadow);
    position: relative;
}

/**************** VIDEO PLAYER QUALITY OPTION STYLE ***************/
.quality {
    margin: auto 7px;
    margin-right: -3px;
    position: relative;
}

.quality__button__icon {
    font-size: 1rem;
    color: #f1f1f1;
    transition: var(--transition);
}

.quality__button span {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    margin-top: -1px;
    border-radius: 50%;
    opacity: 0;
}

.quality__button:hover span {
    opacity: 1;
}

.quality__options {
    position: absolute;
    bottom: 130%;
    right: 0%;
    transform-origin: bottom;
    margin-top: 125px;
    z-index: 2;
    font-family: 'Outfit', sans-serif!important;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background: rgba(43, 51, 63, 0.7);
    text-shadow:    0px 0px 15px #fff, 
                    0px 0px 8px #fff;
}

.quality__options li {
    cursor: pointer;
    padding: 8px;
    transition: var(--transition);
}

.quality__options li:hover,
    .current {
    background: var(--primary);
    color: var(--primary-bg);
}

.stream__header {
    margin-top: 5px;
    position: absolute;
    top: -38px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.breadcrumbs {
    display: flex;
    gap: 5px;
    padding: 2px 5px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.breadcrumbs li a {
    font-size: 1.2zrem;
    font-weight: 600;
    text-shadow: var(--text-shadow);
}

.fullscreen-toggle {
    padding: 5px 7px;
    color: var(--primary);
    margin-inline-end: 2px;
    background: var(--secondary);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--primary-bg);
    font-family: 'Outfit', sans-serif!important;
    transition: var(--transition);
}

.fullscreen-toggle:hover {
    background: var(--secondary-variant);
    border: 1px solid var(--secondary);
}

.video-react-icon-forward-90 {
    display: block!;
    visibility: visible;
    font-family: "video-react" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}

.video-react-icon-forward-96:before {
    content: "";
}

/**************** MORE EPISODES ***************/
.more__episodes {
    padding-top: 2rem;
}

.more__episodes h2 {
    text-align: center;
}       

.__episodes {
    padding: 20px 0;
}

.active__episode {
    box-shadow: 0px 0px 10px 0px var(--secondary)!important;
    border: 2px solid var(--secondary);
}

/******************* MEDIA QUERY (1200px) ******************/
@media screen and (max-width: 1200px){
    .buttons,
    .episode__info,
    .watch__container {
        width: 100%;
    }
}

/******************* MEDIA QUERY (1024px) ******************/
@media screen and (max-width: 1024px){
    .buttons,
    .episode__info,
    .watch__container {
        width: 96%;
    }
}

/* ================== MEDIA QUERIES (800px) =============== */
@media screen and (max-width: 800px) {
    .fullscreen-toggle {
        display: none;
    }

    .episode__video {
        padding-top: 1rem;
    }
}

/******************* MEDIA QUERY (600px) ******************/
@media screen and (max-width: 600px){
    .container.container__episode,
    .watch__container  {
        width: 100%;
    }

    .container__episode {
        min-height: 400px;
    }

    .buttons,
    .episode__info {
        width: 98%;
    }

    .buttons .btn {
        font-size: 12px;
        width: auto;
        padding: 7px 10px;
    }

    .episode__info {
        padding: 0 1.2rem
    }

    .watch__container {
        border-radius: 0px;
    }
}