.episode {
    margin-top: 0;
}

.container__episode {
    padding-top: 2rem;
    min-height: 650px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
}

.episode__video {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.buttons,
.episode__info,
.iframe__container {
    width: 80%;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.opacity {
    opacity: 0;
    user-select: none;
    cursor: default!important;
    pointer-events: none;
}

option span {
    padding: 2rem;
}

.episode__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2.5rem;
}

.episode__title {
    margin-bottom: 12px;
}

.episode__title h3 {
    margin-bottom: 5px;
}

.episode__title span {
    font-size: 12px;
}

.iframe__container {
    min-height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/**************** MORE EPISODES ***************/
.more__episodes {
    padding-top: 2rem;
}

.more__episodes h2 {
    text-align: center;
}       

.__episodes {
    padding: 20px 0;
}

/******************* MEDIA QUERY (1200) ******************/
@media screen and (max-width: 1200px){
    .buttons,
    .episode__info,
    .iframe__container {
        width: 100%;
    }
}

/******************* MEDIA QUERY (1024-1439) ******************/
@media screen and (min-width: 1024px) and (max-width: 1439px){
    .iframe__container {
        min-height: 520px;
    }
}

/******************* MEDIA QUERY (900-1024) ******************/
@media screen and (min-width: 900px) and (max-width: 1024px){
    .buttons,
    .episode__info,
    .iframe__container {
        width: 96%;
    }
    .iframe__container {
        min-height: 480px;
    }
}

/******************* MEDIA QUERY (768-899) ******************/
@media screen and (min-width: 768px) and (max-width: 899px){
    .iframe__container {
        min-height: 440px;
    }
}
/******************* MEDIA QUERY (600) ******************/
@media screen and (max-width: 600px){
    .container.container__episode {
        width: 100%;
    }

    .container__episode {
        min-height: 400px;
    }

    .buttons,
    .episode__info {
        width: var(--container-sm);
    }
}

/******************* MEDIA QUERY (500-767) ******************/
@media screen and (min-width: 600px) and (max-width: 767px){
    .iframe__container {
        min-height: 380px;
    }
}

/******************* MEDIA QUERY (500-767) ******************/
@media screen and (min-width: 600px) and (max-width: 767px){

    .iframe__container {
        min-height: 375px;
    }
}

/******************* MEDIA QUERY (400-599) ******************/
@media screen and (min-width: 465px) and (max-width: 599px){
    .iframe__container {
        min-height: 350px;
    }

    .episode__info {
        padding: 0 7px;
    }
}

/******************* MEDIA QUERY (355-464) ******************/
@media screen and (min-width: 355px) and (max-width: 464px){
    .container__episode {
        min-height: 400px;
    }

    .iframe__container {
        min-height: 280px;
    }
}